<div class="container" style="width:40%">
    <h5 class="text-center">Registration Form</h5>
    <form>
        <div class="form-group">
            <label class="form-label">Name:</label>
            <input type="text" class="form-control" required>
        </div>
        <div class="form-group">
            <label class="form-label">Email Id:</label>
            <input type="email" class="form-control" required>
        </div>
        <div class="form-group">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" required>
        </div>
        <div class="form-group">
            <label class="form-label">Confirm Password</label>
            <input type="password" class="form-control" required>
        </div>
        <div class="form-group">
            <label class="form-label">Contact Number</label>
            <input type="number" class="form-control" required>
        </div>
        <div class="form-group">
            <label class="form-label">Gender:</label>&nbsp;
            <div class="form-check form-check-inline">
                <input type="radio" name="gender" value="Male" class="form-check-input">
                Male
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" name="gender" value="Female" class="form-check-input">
                Female
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">Address Line 1</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label class="form-label">State</label>&nbsp;
            <select required class="form-control">
                <option value="">--select--</option>
                <option value="Maharashtra">Maharashtra</option>
                <option value="Karnataka">Karnataka</option>
                <option value="Madhya Pradesh">Madhya Pradesh</option>
                <option value="Uttar Pradesh">Uttar Pradesh</option>
            </select>

        </div>

        <div class="form-group">
            <label class="form-label">City</label>&nbsp;
            <select required class="form-control">
                <option value="">--select--</option>
                <option value="Maharashtra">Mumbai</option>
                <option value="Pune">Pune</option>
                <option value="Indore">Indore</option>
                <option value="Bengaluru">Bengaluru</option>
                <option value="Prayagraj">Prayagraj</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-label">Postal Code</label>
            <input type="number" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-block btn-success">Register</button>



    </form>
</div>